<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Al's Stuff</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
     <style>
        html, body {
            height: 100%;
            margin: 0;
        }

        body {
            display: flex;
            flex-direction: column;
            min-height: 100vh;
        }

        main {
            flex: 1;
        }

        footer {
            margin-top: auto;
            background-color: #f8f9fa;
            padding: 1rem;
            text-align: center;
        }

        li {
            margin: 3px;
        }

        form {
            position: fixed;
            left: calc(50% - 225px); /* Centers it horizontally */
            bottom: 10%;
            width: 450px;
        }

        #microphone {
            font-size: 150px;
            opacity: 0; /* Start hidden */
            transition: opacity 200ms ease-in-out;
            /* Center it over everything */
            position: fixed;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            z-index: -9999;
            padding: 20px; /* Optional: Add some padding */
            border-radius: 10px; /* Optional: Soft rounded edges */
        }

        #directions {
            display: none;
            border-radius: 10px; /* Optional: Soft rounded edges */
        }

        .desktop-only {
            display: none;
        }
    </style>
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
            <div class="container-fluid">
                <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index">Home</a>
            </div>
        </nav>
    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer footer text-muted">
        <div class="container">
            &copy; 2024 - Alex Nance - <a href="https://www.linkedin.com/in/alex-nance-46285720/">LinkedIn</a> | <a href="https://github.com/acnance87">GitHub</a>
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
