@{
    ViewData["Title"] = "Home Page";
}
<h2>Playground links</h2>
<ul>
    <li>@Html.ActionLink("Bacon8r", "Index", "Bacon8r")</li>
    <li>@Html.ActionLink("Workout Tracker", "Index", "Workout")</li>
    <li>@Html.ActionLink("Ballculator", "Index", "Ballculator")</li>
</ul>